@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-overlay{
  @apply bg-gradient-to-b from-[#1d4ed8] to-[rgb(16,185,129)]
}

.prose h1 {
  @apply text-4xl font-semibold mt-8 mb-3 text-slate-800;
}

.prose h2 {
  @apply text-3xl font-semibold mt-8 mb-3 text-slate-800;
}

.prose h3 {
  @apply text-2xl font-medium mt-6 mb-2 text-slate-800;
}

.prose p {
  @apply text-slate-700 leading-relaxed mb-4  ;
}

.prose ul {
  @apply list-disc pl-6 mb-4 leading-relaxed ;
}

.prose ol {
  @apply list-decimal pl-6 mb-4 leading-relaxed ;
}

.prose blockquote {
  @apply border-l-4 border-blue-500 pl-4 italic text-slate-600 my-4;
}

/* === CODE BLOCK === */

.prose pre {
  @apply bg-slate-900 text-slate-100 p-4 rounded-xl overflow-x-auto text-sm mb-6;
}

.prose code {
  @apply bg-slate-100 px-1 py-0.5 rounded text-sm;
}

.prose pre code {
  @apply bg-transparent p-0 text-inherit;
}

  .prose ul {
    @apply text-base leading-8 my-3 mx-5 text-slate-600 list-disc;
  }
  .prose ol {
    @apply text-base leading-8 my-3 mx-5 text-slate-600 list-decimal;
  }
/* Figure container */
.prose .health-figure {
  @apply my-1;
}

/* Image wrapper */
.prose .health-image-wrapper {
  @apply relative w-full aspect-video overflow-hidden rounded-3xl shadow-xl;
}

/* Image */
.prose .health-image-wrapper img {
  @apply w-full h-full object-cover transition-transform duration-700;
}

/* Hover effect subtle */
.prose .health-image-wrapper:hover img {
  @apply scale-105;
}

.prose .health-caption {
  @apply mt-4 text-center text-xs tracking-wide uppercase text-gray-400;
}

@keyframes blob {
  0%, 100% {
    transform: scale(1) translate(0, 0);
  }
  33% {
    transform: scale(1.05) translate(3px, -3px);
  }
  66% {
    transform: scale(0.95) translate(-3px, 3px);
  }
}

.blob {
  animation: blob 10s ease-in-out infinite;
  filter: blur(32px);
  opacity: 0.15;
}


.animate-blob {
  animation: blob 8s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 12s ease-in-out infinite;
}

.delay-2000 {
  animation-delay: 2s;
}
